.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-title {
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 10px;
  width: 20rem;
  font-size: xx-large;
  position: relative;
  top: 0.5rem; left: 17.5rem;
}

.App-case {
  background-color: white;
  border-radius: 10px;
  width: 52.5rem;
  height: 50.5rem;
  position: relative;
  left: 1.25rem;
}

.App-sbtn {
  border-radius: 10px;
  width: 52.5rem;
  height: 4rem;
}

.App-filter {
  background-color: rgba(172, 145, 230, 1);
  background-image: linear-gradient(to top left, rgba(79, 67, 102, 0.2), rgba(79, 67, 102, 0.2) 30%, rgba(0, 0, 0, 0));
  text-shadow: 1px 1px 1px #000;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-left: none;
  font-size: xx-large;
  float: left;
  width: 13.125rem;
  height: 4rem;
  color: white;
}

.App-filter:hover {
  background-color: rgba(193, 161, 255, 1);
}

.App-filter:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#unabtn {
  border-top-left-radius: 10px;
}

#shabtn{
  border-top-right-radius: 10px;
}

.App-reportbox {
  background: linear-gradient(#AC91E6 , white, #AC91E6);
  width: 55rem;
  height: 60.5rem;
}

.App-report {
  margin-left: 1.25rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  background-color: rgba(172, 145, 230, 1);
  background-image: linear-gradient(to top left, rgba(79, 67, 102, 0.2), rgba(79, 67, 102, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 50rem;
  height: 10rem;
}

.App-photo {
  width: 11rem;
  height: 9rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  float: left;
}

.App-state {
  width: 10rem;
  position: relative;
  top: 0.5rem; left: 27.5rem; 
  background-color: white;
  border-radius: 10px;
  float: left;
}

.App-detail {
  width: 37rem;
  height: 4rem;
  position: relative;
  top: 3.5rem; left: 0.5rem;
  background-color: white;
  border-radius: 10px;
  float: left;
}

.App-type {
  width: 15rem;
  position: relative;
  bottom: 5.5rem; left: 0.5rem;
  background-color: white;
  border-radius: 10px;
  float: left;
}

.App-pos {
  width: 23rem;
  position: relative;
  bottom: 3rem; right: 14.5rem;
  background-color: white;
  border-radius: 10px;
  float: left;
}

.App-link {
  width: 8rem;
  position: relative;
  bottom: 5rem; left: 17.5rem;
  float: left;
  text-decoration: none;
  color: black;
}

.App-date {
  font-size: 18px;
  width: 12rem;
  position: relative;
  bottom: 7.35rem; left: 15.5rem;
  float: left;
}

.App-page {
  background-color: white;
  width: 2rem;
  height: 2.5rem;
  position: relative;
  top: 0.5rem; left: 25.25rem;
  border-radius: 5px;
  float: left;
}

.App-down {
  height: 2.5rem;
  position: relative;
  top: 0.5rem; left: 24.25rem;
  float: left;
}

.App-up {
  height: 2.5rem;
  position: relative;
  top: 0.5rem; left: 26.26rem;
  float: left;
}

.App-bspace {
  width: 3rem;
  height: 3rem;
  font-size: xx-large;
  text-decoration: none;
  background-color: rgba(172, 145, 230, 1);
  background-image: linear-gradient(to top left, rgba(79, 67, 102, 0.2), rgba(79, 67, 102, 0.2) 30%, rgba(0, 0, 0, 0));
  text-shadow: 1px 1px 1px #000;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  border-radius: 1rem;
  color: white;
  position: absolute;
  top: calc(0% + 0.5rem); left: calc(50% - 27.5rem);
}

#unabtn {
  background-color: rgba(126, 83, 217, 1);
}

.App-bspace:hover {
  background-color: rgba(193, 161, 255, 1);
}

.App-bspace:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}