.Lay {
    text-align: center;
    background: linear-gradient(#23c686 , white, #23c686);
    height: 100%;
    width: 100%;
    
}

.Lay-header {
    background-color: white;
    /* min-height: 100vh; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    /* justify-content: center; */
    
}

.Lay-lay {
    display: flex;
    background: linear-gradient(#23c686 , #285d68);
    /* border-radius: 10px; */
    height: 50rem;
    width: 30rem;
    width:100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}

.Lay-title {
    display: flex;
    flex-direction: column;
    font-family: 'ROKABold';
    /* background-color: rgba(40, 93, 104, 1); */
    /* background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0)); */
    /* text-shadow: 1px 1px 1px #000; */
    /* box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6); */
    color: white;
    /* margin-top: 10rem; */
    /* margin-bottom: 1rem; */
    border-radius: 10px;
    width: 20rem;
    position: relative;
   margin-top:5%;
    /* left: 5rem; */
}

.Lay-name {
    color: #c5d893;
    padding: 10px;
}

#kname {
    font-family: 'SUITE-Regular';
    text-decoration: underline;
    color:white
}

#efull {
    font-family: "GoL";
    /* src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff'); */
    color:white
}

.Lay-btns {
    display: flex;
    font-family: 'SUITE-Regular';
    background-color: rgba(40, 93, 104, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    text-shadow: 1px 1px 1px #000;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 10px;
    font-size: x-large;
    text-decoration: none;
    width: 13rem;
    text-align: center;
    border: none;
    align-self: center;
    margin-top: 20px;
    text-align: center;
    position: relative;
    /* padding: 0px; */
    align-items: center;
    justify-content: center;
}
.Lay-btnContainer {
    display: flex;
    align-self: center;
    flex-direction: column;

}

.Lay-btns:hover {
    background-color: rgba(58, 138, 154, 1);
}

.Lay-btns:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#Lay-notibtn {
    position: relative;
    /* top: 1rem; left: 6.6rem; */
}

#Lay-repbtn {
    position: relative;
    /* top: 4.75rem; right: 6.6rem; */
}

#Lay-btybtn {
    position: relative;
    /* top: 6.1rem; */
}

.Log-input {
    font-size: x-large;
    width: 20rem;
    margin-top: 2rem;
}

#Log-btn {
    display: flex;
    width: 12rem;
    margin-top: 2rem;
    font-size: x-large;
    text-align: center;
    align-items: center;
}

.Log-popdown {
    background-color: black;
    visibility: hidden;
    opacity: 0.5;
    position: absolute;
    /* top: 0%; left: calc(50% - 27.5rem); */
    width: 100%;
    height: 100%;
    z-index: 1;
    text-decoration: none;
}

.Log-popup {
    visibility: hidden;
    width: 20rem;
    height: 7rem;
    /* padding: 1rem; */
    background-color: #D9D9D9;
    border-radius: 6px;
    position: absolute;
    top: 40%; left: calc(50% - 11rem);
    z-index: 2;
}

.Lay-bspace {
    width: 3rem;
    height: 3rem;
    font-size: xx-large;
    text-decoration: none;
    background-color: rgba(35, 198, 134, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    text-shadow: 1px 1px 1px #000;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    color: white;
    position: absolute;
    top: 10%; left: 10rem;
}

.Lay-bspace:hover {
    background-color: rgba(43, 238, 160, 1);
}

.Lay-bspace:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}