.Lay {
    text-align: center;
    font-family: "myfont";
}

.Lay-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Lay-lay {
    background: linear-gradient(#AC91E6 , white, #AC91E6);
    border-radius: 10px;
    height: 50rem;
    width: 30rem;
}

.Lay-title {
    background-color: rgba(172, 145, 230, 1);
    background-image: linear-gradient(to top left, rgba(79, 67, 102, 0.2), rgba(79, 67, 102, 0.2) 30%, rgba(0, 0, 0, 0));
    text-shadow: 1px 1px 1px #000;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 18rem;
    position: relative;
    left: 6rem;
}

.Lay-img {
    background-color: black;
    border-radius: 10px;
    display: flex;
    width: 25rem;
    position: relative;
    left: 2.5rem;
}

.Lay-btns {
    background-color: rgba(172, 145, 230, 1);
    background-image: linear-gradient(to top left, rgba(79, 67, 102, 0.2), rgba(79, 67, 102, 0.2) 30%, rgba(0, 0, 0, 0));
    text-shadow: 1px 1px 1px #000;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 10px;
    font-size: x-large;
    text-decoration: none;
    width: 13rem;
    text-align: center;
    border: none;
}

.Lay-btns:hover {
    background-color: rgba(193, 161, 255, 1);
}

.Lay-btns:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#Lay-notibtn {
    position: relative;
    top: 1rem; left: 6.6rem;
}

#Lay-repbtn {
    position: relative;
    top: 4.75rem; right: 6.6rem;
}

#Lay-btybtn {
    position: relative;
    top: 6.1rem;
}

.Log-input {
    font-size: x-large;
    margin-top: 2rem;
}

#Log-btn {
    width: 12rem;
    margin-top: 2rem;
    font-size: x-large;
}

.Log-popdown {
    background-color: black;
    visibility: hidden;
    opacity: 0.5;
    position: absolute;
    top: 0%; left: calc(50% - 27.5rem);
    width: 55rem;
    height: 60.5rem;
    z-index: 1;
    text-decoration: none;
}

.Log-popup {
    visibility: hidden;
    width: 20rem;
    height: 7rem;
    padding: 1rem;
    background-color: #D9D9D9;
    border-radius: 6px;
    position: absolute;
    top: 40%; left: calc(50% - 11rem);
    z-index: 2;
}

.Lay-bspace {
    width: 3rem;
    height: 3rem;
    font-size: xx-large;
    text-decoration: none;
    background-color: rgba(172, 145, 230, 1);
    background-image: linear-gradient(to top left, rgba(79, 67, 102, 0.2), rgba(79, 67, 102, 0.2) 30%, rgba(0, 0, 0, 0));
    text-shadow: 1px 1px 1px #000;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    color: white;
    position: absolute;
    top: 10%; left: calc(50% - 15rem);
}

.Lay-bspace:hover {
    background-color: rgba(193, 161, 255, 1);
}

.Lay-bspace:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}