.Lay {
    text-align: center;
    font-family: "myfont";
}

.Lay-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Lay-lay {
    background: linear-gradient(#AC91E6 , white, #AC91E6);
    border-radius: 10px;
    height: 50rem;
    width: 30rem;
}

.Lay-title {
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 18rem;
    position: relative;
    left: 6rem;
}

.Lay-img {
    background-color: black;
    border-radius: 50px;
    display: flex;
    width: 25rem;
    position: relative;
    left: 2.5rem;
}

.Lay-notibtn {
    color: black;
    background-color: white;
    opacity: 0.75;
    border-radius: 10px;
    position: relative;
    top: 1rem; left: 6.25rem;
    font-size: xx-large;
    text-decoration: none;
}

.Lay-repbtn {
    color: black;
    background-color: white;
    opacity: 0.75;
    border-radius: 10px;
    position: relative;
    top: 4.75rem; right: 6.25rem;
    font-size: xx-large;
    text-decoration: none;
}

.Log-input {
    font-size: x-large;
    margin-top: 2rem;
}

.Log-btn {
    background-color: #AC91E6;
    opacity: 0.65;
    width: 12rem;
    margin-top: 2rem;
    font-size: x-large;
}

.Log-popdown {
    background-color: black;
    visibility: hidden;
    opacity: 0.5;
    position: absolute;
    top: 0%; left: calc(50% - 27.5rem);
    width: 55rem;
    height: 60.5rem;
    z-index: 1;
    text-decoration: none;
}

.Log-popup {
    visibility: hidden;
    width: 20rem;
    height: 7rem;
    padding: 1rem;
    background-color: #D9D9D9;
    border-radius: 6px;
    position: absolute;
    top: 40%; left: calc(50% - 11rem);
    z-index: 2;
}