.Noti {
    text-align: center;
}

.Noti-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Noti-notibox {
    background: linear-gradient(#AC91E6 , white, #AC91E6);
    width: 55rem;
    height: 60.5rem;
}

.Noti-title {
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 10px;
    width: 20rem;
    font-size: xx-large;
    position: relative;
    top: 0.5rem; left: 17.5rem;
}

.Noti-case {
    background-color: white;
    border-radius: 10px;
    width: 52.5rem;
    height: 51.5rem;
    position: relative;
    left: 1.25rem;
}

.Noti-noti {
    margin-left: 1.25rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    background-color: rgba(172, 145, 230, 1);
    background-image: linear-gradient(to top left, rgba(79, 67, 102, 0.2), rgba(79, 67, 102, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 50rem;
    height: 6.5rem;
    position: relative;
    top:1.25rem;
}

.Noti-date {
    background-color: white;
    border-radius: 10px;
    width: 17rem;
    position: relative;
    top: 30%; left: 45%;
}

.Noti-cont {
    background-color: white;
    border-radius: 10px;
    width: 48rem;
    height: 2rem;
    position: relative;
    top: 10%; left: 1.5%;
}

.Noti-link {
    width: 8rem;
    position: relative;
    bottom: 0rem; left: 41rem;
    float: left;
    text-decoration: none;
    color: black;
}

.Bty-link {
    width: 8rem;
    position: relative;
    bottom: 2rem; left: 41rem;
    float: left;
    text-decoration: none;
    color: black;
}

.Noti-page {
    background-color: white;
    width: 2rem;
    height: 2.5rem;
    position: relative;
    top: 0.5rem; left: 25.25rem;
    border-radius: 5px;
    float: left;
}

.Noti-down {
    height: 2.5rem;
    position: relative;
    top: 0.5rem; left: 24.25rem;
    float: left;
}

.Noti-up {
    height: 2.5rem;
    position: relative;
    top: 0.5rem; left: 26.26rem;
    float: left;
}

.Noti-write {
    background-color: rgba(172, 145, 230, 1);
    background-image: linear-gradient(to top left, rgba(79, 67, 102, 0.2), rgba(79, 67, 102, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    width: 13rem;
    position: relative;
    top: 0.5rem; left: 17.5rem;
    text-decoration: none;
    color: white;
    font-size: x-large;
    border: none;
}

.Noti-bspace {
    width: 3rem;
    height: 3rem;
    font-size: xx-large;
    text-decoration: none;
    background-color: rgba(172, 145, 230, 1);
    background-image: linear-gradient(to top left, rgba(79, 67, 102, 0.2), rgba(79, 67, 102, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px #000;
    border-radius: 1rem;
    color: white;
    position: absolute;
    top: calc(0% + 0.5rem); left: calc(50% - 27.5rem);
}

.Noti-bspace:hover {
    background-color: rgba(193, 161, 255, 1);
}

.Noti-bspace:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.Noti-write:hover {
    background-color: rgba(193, 161, 255, 1);
}

.Noti-write:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.Bty-pos {
    background-color: white;
    border-radius: 10px;
    width: 20rem;
    position: relative;
    bottom: 0.05rem; left: 1.5%;
}
